@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraLight.woff2') format('woff2'),
  url('../fonts/Tajawal-ExtraLight.woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Light.woff2') format('woff2'),
  url('../fonts/Tajawal-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Regular.woff2') format('woff2'), 
  url('../fonts/Tajawal-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Medium.woff2') format('woff2'), 
  url('../fonts/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Bold.woff2') format('woff2'), 
  url('../fonts/Tajawal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraBold.woff2') format('woff2'), 
  url('../fonts/Tajawal-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Black.woff2') format('woff2'), 
  url('../fonts/Tajawal-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body{
  overflow: hidden;
}


.position_div{
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
.logo{
  text-align: center;
}


.content {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.item {
  text-align: center;
  padding:0 30px;
  color: #3f3f3f;
  width: 145px;
}

.num {
  font-family: "Tajawal";
  font-size: 70px;
  font-weight: 600;
}

.counter {
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  
}


@media (max-width: 567px) {
  .container {
    width: 100%;
    height: auto;
    padding-top: 0;
  }
  .counter{
    font-size: 20px;
  }
  .content {
    justify-content: space-between;
    align-items: center;
  }
  
  .item {
    padding: 0 10px;
    width: 85px;
    
  }
  .num{
    font-size: 40px;
  }
}



/* text animation  */

.text-anim h1{
  margin: 0;
  text-align:center;
  font-size:35px;
  line-height:70px;
  color:#4a4a4a;
  text-transform:uppercase;
  font-family:"Tajawal";
  font-weight: 500;
  margin-bottom: 100px;
}


@import url(https://fonts.googleapis.com/css?family=Tangerine);
body{
  width:100%; 
  margin:0;
  overflow:hidden;
}

.sm{
  text-align: center;
}

.sm a{
  display: inline-block;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #4a4a4a;
  margin: 0 ;
  transition: .4s linear;
  position: relative;
}

.sm a::before, .sm a::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 95%;
  height: 67%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.sm a:hover{
  transform: scale(.8);
}

.sm a:hover::before{
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.sm a:hover::after{
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}