@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraLight.woff2') format('woff2'),
  url('../fonts/Tajawal-ExtraLight.woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Light.woff2') format('woff2'),
  url('../fonts/Tajawal-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Regular.woff2') format('woff2'), 
  url('../fonts/Tajawal-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Medium.woff2') format('woff2'), 
  url('../fonts/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Bold.woff2') format('woff2'), 
  url('../fonts/Tajawal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraBold.woff2') format('woff2'), 
  url('../fonts/Tajawal-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Black.woff2') format('woff2'), 
  url('../fonts/Tajawal-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body{
  width:100%; 
  margin:0;
  overflow:hidden;

}


.parant_{
  position: relative;
  height: 100vh;
  background-image: url("../images/11.jpg");
  background-size: cover;
  opacity: .9;
}
/*  ~~~~~~~~~~~~~~~~~~~~ clip path~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.parant_::after{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color:  rgb(56, 67, 71);
opacity: .9;
z-index: -1;
}
.clip_{
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  top: 50%;
  background-color: rgb(42, 132, 242);
  width: 80px;
  height: 460px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: 10;

}
.parant_::before{
  content: "";
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  top: 50%;
  background-color: rgb(42, 132, 242);
  width: 80px;
  height: 460px;
  clip-path: polygon(100% 0, 0 0, 0 97%);
}
.clip_top{
  position: absolute;
  width: 770px;
  height: 450px;
  background-color: rgb(56, 67, 71);
  top: 0;
  right: 0;
  clip-path: polygon(100% 0, 0 0, 100% 61%);

}
.clip_bottom{
  position: absolute;
  width: 900px;
  height: 450px;
  background-color: rgb(56, 67, 71);
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 32%, 28% 100%, 100% 100%);

}

/*  ~~~~~~~~~~~~~~~~~~~~ clip path~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.back_{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  max-width: 100%;
  height: 100%;
}
.soongrid_{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.grid-item {
  text-align: center;
}
.grid-item img{
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 70px 0 70px;
}

.item {
  text-align: center;
  padding:0 30px;
  color: #4a7dbf;
  width: 145px;
}
.num {
  font-size: 90px;
  font-family: "Tajawal";
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.counter {
  font-size: 20px;
  font-family: "Tajawal";
  color: rgb(255, 255, 255);
  font-weight: 700;
}


/* ~~~~~~~~~~~~~~ text ~~~~~~~~~~~~~~~~ */

.text_ h6{
  font-size: 35px;
  font-family: "Tajawal";
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 700;
}

/* ~~~~~~~~~~~~~~~~~~~~social media~~~~~~~~~~~~~~~~~~~~ */


.social-media a{
  font-size: 24px;
  color: rgba(255, 255, 255, 0.502);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.social-media a:not(.social-media a:last-child){
  margin-inline-end: 40px;
}
.social-media a:hover{
  color: rgb(255, 255, 255);

}


@media(max-width:1400px){
  .clip_, .parant_::before{
    width: 70px;
    height: 279px;
  }
  .clip_top, .clip_bottom{
    width: 450px;
    height: 374px;
  }
  .content {
    padding: 50px 0 60px;
    
  }
}
@media(max-width:992px){
  .clip_, .parant_::before ,.clip_top, .clip_bottom{
    display: none;
  }
  .grid-item img {
    width: 250px;
    
  }
  .text_ h6 {
    font-size: 30px;
  }
  .content {
    padding: 40px 0 30px;

  }
}
@media (max-width: 567px) {
  .grid-item img{
    width: 225px;
  }
  .text_ h6 {
    font-size: 24px;
  }
  .num {
    font-size: 50px;
  
  }
  .counter{
    font-size: 14px;
  }
  .content {
    padding: 40px 0 80px;

  }
  .container {
    width: 100%;
    height: auto;
    padding-top: 0;
  }

  .content {
    justify-content: space-between;
    align-items: center;
  }
  
  .item {
    padding: 0 10px;
    width: 85px;
    
  }
  .social-media a:not(.social-media a:last-child){
    margin-inline-end: 30px;
  }
  .parant_{
    background-position: right -525PX top 0;

  }
}